@positive: #0FAD51;
@negative: #d9534f;

#finam-box{
  .finam-chart{
    width: 436px;
    height: 219px;

    background-color: #343434;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;

    padding: 5px 3px;
    border-bottom: 2px solid white;

    &:last-child{
      border: none;
    }

    .navigation-box{
      flex:1 1 30%;
      .list-source{
        &.dx-list {
          .dx-list-item {
            &.dx-list-item-selected {
              .dx-list-item-content{
                padding: 3px;
                background-color: #f5f6f7;
                &:before{
                  content: "";
                }
                .item-code{
                  padding: 0 2px;
                }
              }
            }
            .dx-list-item-content {
              padding: 0;

              .item-code {
                padding: 3px 5px;
                line-height: 1.0715;
                font-weight: 500;
                &.positive {
                  background-color: @positive;
                }
                &.negative {
                  background-color: @negative;
                }
                .item-ttl {
                  display: flex;
                  flex-direction: row;
                  justify-content: flex-start;
                  align-items: stretch;

                  .code-name {
                    flex: 1 1 70%;
                    text-align: left;
                  }
                  .fin-time {
                    flex: 1 1 30%;
                    font-size: xx-small;
                    font-weight: normal;
                    text-align: right;
                  }
                }
                .item-data {
                  display: flex;
                  flex-direction: row;
                  justify-content: flex-start;
                  align-items: stretch;

                  .fin-change {
                    flex: 1 1 50%;
                    font-size: small;
                    text-align: left;
                  }
                  .fin-percent {
                    flex: 1 1 50%;
                    font-size: small;
                    text-align: right;
                  }
                }
              }
            }
          }
        }
      }
    }
    .chart-box{
      flex: 1 1 70%;
      padding: 5px 2px 2px 7px;

      .fin-info-box{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        margin-bottom: 3px;
        font-weight: bold;

        .info-name{
          flex: 1 1 auto;
          text-align: left;
        }
        .info-value{
          flex: 0 1 auto;
          padding-right: 3px;
        }
        .info-change{
          flex: 0 1 auto;
          &.positive {
            background-color: @positive;
          }
          &.negative {
            background-color: @negative;
          }
          padding: 0 2px 0 2px;
        }
      }

      .chart{
        height: 180px;
      }
    }
  }
}