#finam-box{
  .finam-chart{
    width: 800px;
    height: 550px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;

    .navigation-box{
      flex:1 1 30%;
      .list-source{

        .item-code{

        }
      }
    }
    .chart-box{
      flex: 1 1 70%;
    }
  }
}