#widget_box.widget{
  width: 1024px;
  height: 400px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;

  .navigation-box{
    display: block;
    flex:1 1 30%;
    max-width: none;
    min-width: 0px;
    outline: 0;
    //border: 1px solid black;

    .tabs-container{
      margin: 0 0 0 10px;
    }

    .list-news{
      padding: 5px;
      border: 1px solid #ddd;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;

      .select-country{
        .custom-item{
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: stretch;

          .flag-icon{
            float: left;
            flex:1 1 6%;
            margin: 2px 2px 2px 5px;
          }
          .product-name{
            flex:1 1 94%;
          }
        }
      }

      .item-news {
        white-space: normal;
        .flag-icon{
          margin-right: 3px;
        }
        .time-news{
          float: right;
        }
      }
    }

  }
  .graph-box{
    display: block;
    flex: 1 1 70%;
    max-width: none;
    min-width: 0px;
    outline: 0;
    //border: 1px solid black;
    .graph-news-box{

      .news-info-title{

      }
      .graph-parent{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;

        .candle-stick-box{
          display: block;
          flex:1 1 50%;
          max-width: none;
          min-width: 0;
          outline: 0;
          margin: 0 0 0 7px;

          .candle-stick{
            border: 1px solid #ddd;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            height: 200px;
          }
        }

        .candle-stick-box-left{

          .candle-stick-left{

          }
        }
        .candle-stick-box-right{

          .candle-stick-right{

          }
        }

        .news-item-tabs{
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: stretch;

          .period_tabs{
            margin-left: 5px;
          }

          .news-data-period-tabs{
            display: block;
            flex:1 1 70%;
            max-width: none;
            min-width: 0px;
            outline: 0;
          }
          .news-data-fintool-box{
            display: block;
            flex:1 1 30%;
            max-width: none;
            min-width: 0px;
            outline: 0;
          }
        }
      }
    }

    .associated-news-box{
      width:100%;
      height: 160px;
      margin: 0 0 0 7px;
      .columns{
        &.currency{
          text-align: center !important;
        }
        &.num-value{
          text-align: center !important;
        }
      }
    }
  }
}