#widget_box.widget{
  width: 1024px;
  height: 400px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;

  .navigation-box{
    display: block;
    flex:1 1 30%;
    max-width: none;
    min-width: 0px;
    outline: 0;
    //border: 1px solid black;

    .tabs-container{
      margin: 0 0 0 10px;
    }

    .list-news{
      padding: 5px;
      border: 1px solid #ddd;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;

      .select-country{
        .custom-item{
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: stretch;

          .flag-icon{
            float: left;
            flex:1 1 6%;
            margin: 2px 2px 2px 5px;
          }
          .product-name{
            flex:1 1 94%;
          }
        }
      }

      .item-news {
        white-space: normal;
        .flag-icon{
          margin-right: 3px;
        }
        .time-news{
          float: right;
        }
      }
      .search-box{

      }
    }

  }
  .graph-scroll-box {
    display: block;
    flex: 1 1 70%;

    .graph-box {
      display: block;
      max-width: none;
      min-width: 0px;
      outline: 0;
      //border: 1px solid black;
      .graph-news-box {

        .news-info-title {
          text-align: center;
          color: #333;
          font-weight: 500;
          font-size: 13px;
          font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Verdana, sans-serif;
          line-height: 1.83334;
        }
        .graph-parent {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: stretch;

          .candle-stick-box {
            display: block;
            flex: 1 1 50%;
            max-width: none;
            min-width: 0;
            outline: 0;

            .candle-stick {
              border: 1px solid #ddd;
              border-bottom-left-radius: 4px;
              border-bottom-right-radius: 4px;
              height: 177px;
            }
          }

          .candle-stick-box-left {
            margin-left: 7px;
            .candle-stick-left {

            }
          }
          .candle-stick-box-right {
            margin-left: 21px;
            .candle-stick-right {

            }
          }

          .news-item-tabs {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: stretch;

            .period_tabs {
            }

            .news-data-period-tabs {
              display: block;
              flex: 1 1 70%;
              max-width: none;
              min-width: 0px;
              outline: 0;
            }
            .news-data-fintool-box {
              display: block;
              flex: 1 1 30%;
              max-width: none;
              min-width: 0px;
              outline: 0;
            }
          }
        }
      }

      .associated-news-box {
        width: 100%;
        //height: 169px;
        margin: 9px 0 0 7px;
        .columns {
          &.currency {
            text-align: center !important;
          }
          &.num-value {
            text-align: center !important;
          }
          .dev-positive{
            color:#449d44;
          }
          .dev-negative{
            color:#c9302c;
          }
        }
        .dx-datagrid-pager.dx-widget.dx-pager{
          padding-right: 10px;
        }
      }
    }
  }
}
.dxc-tooltip{
  z-index: 9999999;
}